@import url('https://fonts.cdnfonts.com/css/carmen-sans');
@import url('https://fonts.cdnfonts.com/css/coolvetica');
@import url('https://fonts.cdnfonts.com/css/montserrat');

.content {
    margin: auto;
    max-width: 65%;
    min-width: fit-content;
    padding-top: 20px;
}

body {
    margin-left: 0;
}

h1 {
    font-family: 'Carmen Sans', sans-serif;
    font-weight: 900;
    font-size: 40px;
    padding: 30px 0px;
}

#remove {
    display: inline;
    float: right;
    font-size: 18px;
    font-weight: 450;
    line-height: 50px;
    font-family: 'Montserrat', sans-serif;
    color: firebrick;
    text-decoration: underline;
    cursor: pointer;
}

#addButton {
    font-family: 'Coolvetica', sans-serif;
    color: firebrick;
    border: 1px solid firebrick;
    border-radius: 6px;
    
    width: 120px;
    height: 50px;
    cursor: pointer;
    background-color: rgb(247, 229, 229);
    
    text-align: center;
    font-size: 25px;
    transition-duration: 0.4s;
    display: inline-block;
    box-sizing: border-box;
}

#addButton:hover {
    background-color: firebrick;
    color: white;
}

#input {
    width: 30%;
    height: 50px;
    margin-right: 30px;
    padding: 0px 20px 0px 20px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 18px;
    box-sizing: border-box;
}

#input:focus {
    outline: none !important;
    border: 1px solid firebrick;
}

#technologies {
    display: grid;
    margin-top: 70px;
    grid-template-columns: 50% 50%;
    row-gap: 30px;
    column-gap: 30px;
    grid-auto-rows: minmax(80px, auto);
    grid-auto-columns: minmax(100px, 500px);
}

.technology {
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow:
        0px 4px 6px #888888;
    word-wrap: break-word;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 2px;
}